<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjc.smarthome.mapper.count.StatsMapper">

<select id="countOfWeek1" resultType="com.wjc.smarthome.dto.count.StatsDto">
select (case DAYOFWEEK(create_time)when 1 then '周日'
when 2 then '周一'
when 3 then '周二'
when 4 then '周三'
when 5 then '周四'
when 6 then '周五'
when 7 then '周六'
    end ) days,COUNT(*) count FROM ${tableName} GROUP BY days ORDER BY create_time

</select>
<select id="countOfWeek" resultType="com.wjc.smarthome.dto.count.StatsDto">
SELECT DATE_FORMAT(create_time,'%Y-%m-%d') row,count(*) num from (
SELECT * from `${tableName}` WHERE DATE_SUB(CURDATE(),INTERVAL ${td} DAY) &lt;= DATE(`create_time`)) as `s` GROUP BY row
</select><select id="getTotal" resultType="java.lang.Integer">
select count(*) from ${tableName}
</select>


</mapper>